Repository open-sdg/open-sdg, pull requests merged in 2020-08, with the labels that each got.

#811 Support markdown in the description property of some config settings
  _includes/components/goals-introduction.html
  _includes/components/reporting-status-introduction.html
  _layouts/frontpage-alt.html
Labels: dx

#812 Refactor metadata tabs to support array structure
  _includes/components/indicator/metadata-panes.html
  _includes/components/indicator/metadata-tabs.html
  docs/configuration.md
  tests/site/_config.yml
Labels: dx

#810 Remove outdated mention of Jekyll defaults
  docs/configuration.md
Labels: docs

#800 Add jekyll description and pros and cons to docs
  docs/jekyll-and-open-sdg.md
  mkdocs.yml
Labels: docs

#774 Add config example for data repository map settings
  docs/maps.md
Labels: docs

#678 Series column
  Makefile
  _includes/assets/js/indicatorModel.js
  _includes/assets/js/indicatorView.js
  _includes/assets/js/model/chartHelpers.js
  _includes/assets/js/model/constants.js
  _includes/assets/js/model/fieldHelpers.js
  _includes/assets/js/model/helpers.js
  _includes/assets/js/model/seriesHelpers.js
  _includes/assets/js/model/utils.js
  _includes/components/indicator/data-sidebar.html
  _includes/components/indicator/series-template.html
  _layouts/indicator.html
  _sass/layouts/_indicator.scss
  docs/configuration.md
  tests/data/config_data.yml
  tests/data/data/indicator_2-5-2.csv
  tests/data/meta/2-5-2.md
  tests/data/requirements.txt
  tests/features/Goal.feature
  tests/features/Indicator.feature
  tests/features/Series.feature
  tests/features/support/mink.js
  tests/site/_config.yml
Labels: 1.1.0, charts, data-management
